
<footer class="full-reset footer">
  <div class="full-reset" style="padding: 15px 0;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <h4 class="titles text-center">Visitenos en</h4>
          <p class="text-center">
            Dirección: Calle 65 No. 46 A 95<br>Itagüí - Antioquia -
            Colombia
          </p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h4 class="titles text-center">Contactenos</h4>
          <p class="text-center">Teléfono: 3710522 secretaría ext: 101 -
            102. Rectoría 110. Portería: 103 - 104</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h4 class="titles subtitles-footer">Siguenos en</h4>
          <ul class="list-unstyled links-footer">
            <li><a href="#!" class="open-link-newTab"><i
              class="fa fa-facebook"></i> &nbsp; Facebook</a></li>
            <li><a href="#!" class="open-link-newTab"><i
              class="fa fa-twitter"></i> &nbsp; Twitter</a></li>
            <li><a href="#!" class="open-link-newTab"><i
              class="fa fa-google-plus"></i> &nbsp; Google+</a></li>
          </ul>
        </div>
        <div class="col-xs-12">
          <div class="full-reset footer-copyright">
            <i class="fa fa-copyright"></i> Copyright © 2018 <br>® Todos los derechos reservados.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>