<li class="nav-item">
  <%= link_to 'I.E Simon Bolivar', '', class: 'nav-link' %>
</li>
<li class="nav-item">
  <%= link_to 'Institución', '', class: 'nav-link' %>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Matriculas
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="/users#index"><i class="fa fa-users"></i> Matriculas</a>
    <a class="dropdown-item" href="/roles#index"><i class="fa fa-list-alt"></i> Estudiantes</a>
<li>
  <%= link_to 'Galeria', '', class: 'nav-link' %>
</li>